<section class="showcase block">
    <div class="container grid grid--2x3">
      <div class="card">
        <div class="card__header">
          <img
            src="Assets/Camp Images/High Quality Images/Mount Ulap.png"
            alt=""
          />
        </div>
        <div class="card__body">
          <p class="card__body-heading">Mount Ulap</p>
          <p>One of the most famous hike in Benuguet is Mt Ulap in Itogon.</p>
          <button class="btn btn--secondary">View campgrounds</button>
        </div>
      </div>

      <div class="card">
        <div class="card__header">
          <img
            src="Assets/Camp Images/High Quality Images/Calagus Islands.jpg"
            alt=""
          />
        </div>
        <div class="card__body">
          <p class="card__body-heading">Calaguas Islands</p>
          <p>A paradise of islands that can rival the white sand beauty of Boracy.</p>
          <button class="btn btn--secondary">View campgrounds</button>
        </div>
      </div>

      <div class="card">
        <div class="card__header">
          <img
            src="Assets/Camp Images/High Quality Images/Onay Beach.jpg"
            alt=""
          />
        </div>
        <div class="card__body">
          <p class="card__body-heading">Onay Beach</p>
          <p>This is one of the best beach camping sites, beautiful and pristine..</p>
          <button class="btn btn--secondary">View campgrounds</button>
        </div>
      </div>

      <div class="card">
        <div class="card__header">
          <img
            src="Assets/Camp Images/High Quality Images/Seven Sisters Waterfall.jpg"
            alt=""
          />
        </div>
        <div class="card__body">
          <p class="card__body-heading">Seven Sisters Waterfall</p>
          <p>The Seven Sisters is the 38th tallest waterfall in Norway.</p>
          <button class="btn btn--secondary">View campgrounds</button>
        </div>
      </div>

      <div class="card">
        <div class="card__header">
          <img
            src="Assets/Camp Images/High Quality Images/Latik Riverside.jpg"
            alt=""
          />
        </div>
        <div class="card__body">
          <p class="card__body-heading">Latik Riverside</p>
          <p>Philippines is one of the most dazzling countries in all of Asia..</p>
          <button class="btn btn--secondary">View campgrounds</button>
        </div>
      </div>

      <div class="card">
        <div class="card__header">
          <img
            src="Assets/Camp Images/High Quality Images/Buloy Springs.jpg"
            alt=""
          />
        </div>
        <div class="card__body">
          <p class="card__body-heading">Mount Ulap</p>
          <p>This is one of the best beach camping sites, beautiful and pristine.</p>
          <button class="btn btn--secondary">View campgrounds</button>
        </div>
      </div>
      
    </div>
  </section>
